.idea
virtualenv/kademlia/lib/python2.7/site-packages/*
virtualenv/kademlia/bin/cftp
virtualenv/kademlia/bin/ckeygen
virtualenv/kademlia/bin/conch
virtualenv/kademlia/bin/lore
virtualenv/kademlia/bin/mailmail
virtualenv/kademlia/bin/manhole
virtualenv/kademlia/bin/pyhtmlizer
virtualenv/kademlia/bin/tap2deb
virtualenv/kademlia/bin/tap2rpm
virtualenv/kademlia/bin/tkconch
virtualenv/kademlia/bin/trial
virtualenv/kademlia/bin/twistd
virtualenv/kademlia/pip-selfcheck.json
identity.txt
contacts.txt
*.pyc
